/* typography design */
h1, h2, p{
    font-family: 'Sriracha', cursive;
}
h1{
    font-size: 3rem;
    line-height: 1.2;
}
h2{
    font-size: 2rem;
    line-height: 1.1;
}
p{
    font-size: 2rem;
}

/* graphic design */
body{
    width: 100vw;
    height: 100vh;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
}
.main_container{
    margin: 1rem auto;
    padding: .5rem 2rem;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    width: 900px;
    max-width: 900px;
    height: 1000px;
    max-height: 1000px;
    border-radius: 3rem;
    text-align: center;
}
button{
    width: 200px;
    height: 200px;
    border-radius: 3rem;
    margin: 0rem 1rem 1rem;
    cursor: pointer;
    border: 10px solid #b6ff85;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #b6ff8585;
}

#rock{
    background-image: url("https://rock_paper_scissors/img/rock.png");
    background-size: cover;
}
#paper{
    background-image: url("https://rock_paper_scissors/img/paper.png");
    background-size: cover;
}
#scissors{
    background-image: url("https://rock_paper_scissors/img/scissors.png");
    background-size: cover;
}
.main{
    background: #b6ff852a;
    border-radius: 3rem;
    margin: 1rem auto;
    padding: 2rem 0;
    width: 700px;
    height: 400px;
}
.main_window{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player, .computer{
    width: 200px;
    height: 200px;
    border-radius: 3rem;
    border: 10px solid #b6ff85;
    /* background: chartreuse; */
    background-size: cover;
}
.main_punctuation{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
i{
    color: #fff;
}
.build{
    font-family:Verdana;
    position: absolute;
    font-size: 1.3rem;
    left: 50%;
    bottom: 0;
    margin-bottom: 3rem;
    transform: translateX(-50%);
}
img{
    width: auto;
    height: 100%;
    border-radius: 2rem;
}


